<%- include('../admin/layouts/adminHeader.ejs')%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

            <!-- Content-->
<section class="col-lg-9 pt-lg-4 pb-4 mb-3">
  <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
    <!-- Title-->
    <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom">
      <h2 class="h3 py-2 me-2 text-center text-sm-start">Orders<span class="badge bg-faded-accent fs-sm text-body align-middle ms-2"><%= OrderCount%></span></h2>
      <div>
        <div class="input-group mb-3">
          <input class="widget-filter-search form-control rounded-end pe-5" id="myInput" onkeyup="searchTable()" type="text" placeholder="Search"><i class="ci-search position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
        </div>
      </div>
    </div>
<!-- Dark table with hover rows -->
<div class="table-responsive mt-3" style="overflow-x: auto; max-height: 370px;" data-simplebar>
  <table class="table table-hover" id="myTable">
    <thead>
      <tr>
        <th class="text-center">ORDER#</th>
        <th class="text-center">PRODUCTS</th>
        <th class="text-center">DATE</th>
        <th class="text-center">PAYMENT</th>
        <th class="text-center">TOTAL</th>
        <th class="text-center">STATUS</th>
      </tr>
    </thead>
    <% OrderData.forEach(function(order){%>
    <tbody>
      <tr>
        <th class="py-3 text-center align-middle fs-xs" scope="row">
          <a class="nav-link-style" href="/order-data/<%= order._id %>"><%= order._id %></a></th>
        <td class="py-3 text-center align-middle">
          <% order.products.forEach((pro) => {%>
          <a data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-html="true" data-bs-content="<div class='d-flex align-items-center'>
            <a class='d-block flex-shrink-0'><img src='/productImages/<%= pro.product.image[0] %>' class='rounded-1' width='96' alt='Product'></a>
            <div class='ps-2'>
              <h6 class='widget-product-title'><a><%= pro.product.name %></a></h6>
              <div class='widget-product-meta'><span class='text-accent me-2'>₹<%= pro.price %></span><span class='text-muted me-2'>x <%= pro.quantity %> =</span><span class='fs-sm text-success'>₹<% total = pro.price*pro.quantity %><%=total%></span></div>
            </div>
          </div>">
            <img class="rounded-3 mb-2" src="productimages/<%= pro.product.image[0]%>"  width="60" alt="Product1"><br>
          </a>
          <% }) %>
        </td>
        <td class="py-3 text-center align-middle"><%= order.date.toLocaleDateString() %></td>
        <% if(order.paymentMethod=="COD"){%>
          <td class="py-3 text-center align-middle">COD<br><span class="badge bg-warning rounded-pill m-0" style="text-transform: uppercase;"><%= order.paymentStatus%></span></td>
        <% } else if(order.paymentMethod=="Online Payment"){%>
          <td class="py-3 text-center align-middle">Online<br><span class="badge bg-warning rounded-pill m-0" style="text-transform: uppercase;"><%= order.paymentStatus%></span></td>
          <% } else { %>
            <td class="py-3 text-center align-middle">Wallet<br><span class="badge bg-warning rounded-pill m-0" style="text-transform: uppercase;"><%=order.paymentStatus%></span></td>
          <% } %>
        <td class="py-3 text-center align-middle"><span class="text-accent">₹<%=order.Subtotal%></span></td>

        <% if(order.orderStatus=="Canceled"){%>

          <td class="py-3 text-center align-middle">
            <span class="badge bg-dark rounded-pill m-0 mb-2 fs-xs" id="status">CANCELED</span>
          </td>

          <%}else if(order.orderStatus=="Rejected"){%>

            <td class="py-3 text-center align-middle">
              <span class="badge bg-danger rounded-pill m-0 mb-2 fs-xs" id="status">REJECTED</span>
            </td>

        <%}else if(order.orderStatus=="Placed"){ %>

          <td class="py-3 text-center align-middle"><span class="badge bg-info rounded-pill m-0 mb-2 fs-xs" id="status">PLACED</span><br>
            <button type="button" class="btn btn-accent rounded-pill btn-tag m-0 mb-2" id="orderStatus" onclick="changeStatus('<%=order._id%>')" value="Approved"><span class="fs-xs text-white">Approve Order</span></button><br>
            <button type="button" class="btn btn-danger rounded-pill btn-tag m-0" id="orderReject" onclick="rejectStatus('<%=order._id%>')" value="Rejected"><span class="fs-xs text-white">Reject Order</span></button>
          </td>

          <%}else if(order.orderStatus=="Approved"){ %>

            <td class="py-3 text-center align-middle"><span class="badge bg-info rounded-pill m-0 mb-2 fs-xs" id="status">APPROVED</span><br>
              <button type="button" class="btn btn-accent rounded-pill btn-tag m-0 mb-2" id="orderStatus" onclick="changeStatus('<%=order._id%>')" value="Packed"><span class="fs-xs text-white">Packed Order</span></button><br>
              <button type="button" class="btn btn-danger rounded-pill btn-tag m-0" id="orderReject" onclick="rejectStatus('<%=order._id%>')" value="Rejected"><span class="fs-xs text-white">Reject Order</span></button>
            </td>

          <%}else if(order.orderStatus=="Packed"){ %>

            <td class="py-3 text-center align-middle"><span class="badge bg-info rounded-pill m-0 mb-2 fs-xs" id="status">PACKED</span><br>
              <button type="button" class="btn btn-accent rounded-pill btn-tag m-0 mb-2" id="orderStatus" onclick="changeStatus('<%=order._id%>')" value="Shipped"><span class="fs-xs text-white">Shipped Order</span></button><br>
              <button type="button" class="btn btn-danger rounded-pill btn-tag m-0" id="orderReject" onclick="rejectStatus('<%=order._id%>')" value="Rejected"><span class="fs-xs text-white">Reject Order</span></button>
            </td>

        <%}else if(order.orderStatus=="Shipped"){ %>

          <td class="py-3 text-center align-middle"><span class="badge bg-info rounded-pill m-0 mb-2 fs-xs" id="status">SHIPPED</span><br>
            <button type="button" class="btn btn-success rounded-pill btn-tag m-0 mb-2" id="orderStatus" onclick="changeStatus('<%=order._id%>')" value="Delivered"><span class="fs-xs text-white">Delivered Order</span></button><br>
            <button type="button" class="btn btn-danger rounded-pill btn-tag m-0" id="orderReject" onclick="rejectStatus('<%=order._id%>')" value="Rejected"><span class="fs-xs text-white">Reject Order</span></button>
          </td>

        <%}else if(order.orderStatus=="Delivered"){%>

          <td class="py-3 text-center align-middle"><span class="badge bg-success rounded-pill m-0 mb-2 fs-xs" id="status">DELIVERED</span>
          </td>

        <%}else if(order.orderStatus=="Return Request"){%>

          <td class="py-3 text-center align-middle">
            <a data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-html="true" data-bs-content="<div class='d-flex align-items-center'>
              <h6 class='widget-product-title'><a><%= order.returnReason %></a></h6>
          </div>">
           <span class="badge bg-accent rounded-pill m-0 mb-2 fs-xs" id="status">Return Request</span>
          </a><br>
            <button type="button" class="btn btn-success rounded-pill btn-tag m-0 mb-2" id="orderStatus" onclick="changeStatus('<%=order._id%>')" value="Returned"><span class="fs-xs text-white">Approve Request</span></button><br>
            <button type="button" class="btn btn-danger rounded-pill btn-tag m-0" id="orderReject" onclick="rejectStatus('<%=order._id%>')" value="Return Rejected"><span class="fs-xs text-white">Reject Request</span></button>
          </td>

        <%}else if(order.orderStatus=="Return Rejected"){%>

            <td class="py-3 text-center align-middle"><span class="badge bg-danger rounded-pill m-0 mb-2 fs-xs" id="status">RETURN REJECTED</span>
            </td>

        <%}else if(order.orderStatus=="Returned"){%>

            <td class="py-3 text-center align-middle"><span class="badge bg-primary rounded-pill m-0 mb-2 fs-xs" id="status">RETURNED</span>
            </td>

        <% } %>

      </tr>
    </tbody>
    <% }) %>
  </table>

</div>

<!-- Pagination-->
<nav id="pagination" class="d-flex justify-content-between pt-4" aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item"><a id="prev" class="page-link"><i class="ci-arrow-left me-2"></i>Prev</a></li>
  </ul>


  <div class="bg-light shadow-lg rounded-3 w-20">
    <div class="d-flex justify-content-between align-items-center">
  
      <div><a class="btn btn-outline-accent" href="#select-pagination" data-bs-toggle="collapse" id="page-number"></a></div>
  
    </div>
    <!-- Toolbar with expandable filters-->
    <div class="collapse" id="select-pagination">

            <select class="form-select" id="rows-per-page">
              <option value="5" selected>5</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
            </select>
  
    </div>
  </div>
  <ul class="pagination">
    <li class="page-item"><a id="next" class="page-link" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
  </ul>
</nav>
  </div>
</section>

          </div>
        </div>
      </div>
    </main>




<script>

  $(document).ready(function() {
    var table = $('#myTable');
    var rowsPerPage = $('#rows-per-page').val();
    var currentPage = 0;
    
    function showRows() {
      var rows = table.find('tbody tr');
      var numRows = rows.length;
      var numPages = Math.ceil(numRows / rowsPerPage);
      
      if (numPages == 0) {
        currentPage = 0;
      } else if (currentPage >= numPages) {
        currentPage = numPages - 1;
      }
      
      var startIndex = currentPage * rowsPerPage;
      var endIndex = Math.min(startIndex + rowsPerPage, numRows);
      
      rows.hide();
      rows.slice(startIndex, endIndex).show();
      
      $('#page-number').text('Page ' + (currentPage + 1) + ' of ' + numPages);
    }
    
    $('#next').click(function() {
      currentPage++;
      showRows();
    });
    
    $('#prev').click(function() {
      if(currentPage>=1){
      currentPage--;
      }
      showRows();
    });
    
    $('#rows-per-page').change(function() {
      rowsPerPage = $(this).val();
      currentPage = 0;
      showRows();
    });
    
    showRows();
  });
  
  
  </script>

<script>
  function searchTable() {
    var input, filter, table, tbody, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tbody = table.getElementsByTagName("tbody");
    for (i = 0; i < tbody.length; i++) {
      tr = tbody[i].getElementsByTagName("tr");
      for (j = 0; j < tr.length; j++) {
        td = tr[j].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[j].style.display = "";
          } else {
            tr[j].style.display = "none";
          }
        }
      }
    }
  }
</script>


    <script>
      $(document).ready(function () {
         $('#order').DataTable();
         $('.dataTables_length').addClass('bs-select');
      });

      function changeStatus(orderId){
        let buttonValue = $(orderStatus).val();
        $.ajax({
            url:'/changeOrderStatus',
            data:{
                orderId:orderId,
                orderStatus:buttonValue,
            },
            method:'post',
            success:(response)=>{
                

            }
        }).then((data)=>{
            location.reload()
        })
      }
    </script>

<script>
  $(document).ready(function () {
     $('#order').DataTable();
     $('.dataTables_length').addClass('bs-select');
  });

  function rejectStatus(orderId){
    let buttonValue = $(orderReject).val();
    console.log(buttonValue);
    console.log(orderId);
    $.ajax({
        url:'/reject-status',
        data:{
            orderId:orderId,
            orderStatus:buttonValue,
        },
        method:'post',
        success:(response)=>{
            

        }
    }).then((data)=>{
        console.log(data);
        location.reload()
    })
  }
</script>




<%- include('../admin/layouts/adminFooter.ejs')%>