<%- include('../user/layouts/userHeader.ejs')%>




  <!-- Custom page title-->
  <div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="ci-home"></i>Home</a></li>
            <li class="breadcrumb-item text-nowrap"><a href="#">Shop</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Product Page</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 text-light mb-2">
          <%= prod.name %>
        </h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="bg-light shadow-lg rounded-3">
      <!-- Tabs-->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link py-4 px-sm-4 active" href="#general" data-bs-toggle="tab"
            role="tab">General <span class='d-none d-sm-inline'>Info</span></a></li>
      </ul>
      <div class="px-4 pt-lg-3 pb-3 mb-5">
        <div class="tab-content px-lg-3">
          <!-- General info tab-->
          <div class="tab-pane fade show active" id="general" role="tabpanel">
            <div class="row">
              <!-- Product gallery-->
              <div class="col-lg-7 pe-lg-0">
                <div class="product-gallery">
                  <div class="product-gallery-preview order-sm-2">
                    <div class="product-gallery-preview-item active" id="first"><img class="image-zoom"
                        src="/productImages/<%= prod.image[0] %>" data-zoom="/productImages/<%= prod.image[0] %>"
                        alt="Product">
                      <div class="image-zoom-pane"></div>
                    </div>
                    <div class="product-gallery-preview-item" id="second"><img class="image-zoom"
                        src="/productImages/<%= prod.image[1] %>" data-zoom="/productImages/<%= prod.image[1] %>"
                        alt="Product">
                      <div class="image-zoom-pane"></div>
                    </div>
                    <div class="product-gallery-preview-item" id="third"><img class="image-zoom"
                        src="/productImages/<%= prod.image[2] %>" data-zoom="/productImages/<%= prod.image[2] %>"
                        alt="Product">
                      <div class="image-zoom-pane"></div>
                    </div>
                    <div class="product-gallery-preview-item" id="fourth"><img class="image-zoom"
                        src="/productImages/<%= prod.image[3] %>" data-zoom="/productImages/<%= prod.image[3] %>"
                        alt="Product">
                      <div class="image-zoom-pane"></div>
                    </div>
                  </div>
                  <div class="product-gallery-thumblist order-sm-1">
                    <a class="product-gallery-thumblist-item active" href="#first">
                      <img src="/productImages/<%= prod.image[0] %>" alt="Product">
                    </a>
                    <a class="product-gallery-thumblist-item" href="#second">
                      <img src="/productImages/<%= prod.image[1] %>" alt="Product">
                    </a>
                    <a class="product-gallery-thumblist-item" href="#third">
                      <img src="/productImages/<%= prod.image[2] %>" alt="Product">
                    </a>
                    <a class="product-gallery-thumblist-item" href="#fourth">
                      <img src="/productImages/<%= prod.image[3] %>" alt="Product">
                    </a>
                  </div>
                </div>
              </div>
              <!-- Product details-->
              <div class="col-lg-5 pt-4 pt-lg-0">
                <div class="product-details ms-auto pb-3">
                  <div class="h3 fw-normal text-accent mb-3 me-1">₹<%= prod.price %>
                  </div>
                  <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1">Category :</span><span
                      class="text-muted" style="text-transform: capitalize;" id="colorOption">
                      <%= prod.category.categoryName %>
                    </span></div>
                  <div class="position-relative me-n4 mb-3">
                    <% if(prod.status=="In Stock" ){ %>

                      <div class="product-badge product-available mt-n5"><i class="ci-security-check"></i>Product
                        Available</div>
                      <% }else{ %>
                        <div class="product-badge product-not-available mt-n5"><i class="ci-security-close"></i>Product
                          Unavailable</div>
                        <% } %>
                  </div>
                  <div class="d-flex align-items-center justify-content-around pt-2 pb-4">


                    <% if(prod.status=="In Stock" ){ %>
                      <button class="btn btn-primary btn-shadow d-block" onclick="addToCart('<%= prod._id%>',this)">
                        <i class="ci-cart fs-lg me-2"></i>Add to Cart
                      </button>
                      <% }else{ %>
                        <button class="btn btn-danger btn-shadow d-block" disabled>
                          <i class="ci-locked fs-lg me-2"></i>Out of Stock
                        </button>
                        <% } %>

                          <% if(user){ %>

                            <% if (JSON.stringify(wishId).includes(prod._id)){ %>

                              <button class="btn btn-secondary d-block "
                                onclick="addToWishlist('<%= prod._id%>',this)"><i
                                  class="ci-heart-filled text-danger fs-lg me-2"></i>Add to Wishlist</button>

                              <% } else { %>

                                <button class="btn btn-secondary d-block "
                                  onclick="addToWishlist('<%= prod._id%>',this)"><i class="ci-heart fs-lg me-2"></i>Add
                                  to Wishlist</button>

                                <% } %>

                                  <% }else{ %>

                                    <button class="btn btn-secondary d-block "
                                      onclick="addToWishlist('<%= prod._id%>',this)"><i
                                        class="ci-heart fs-lg me-2"></i>Add to Wishlist</button>

                                    <% } %>


                  </div>
                  <hr class="mb-3">
                  <!-- Product description-->
                  <div class="container pt-lg-1 pb-2 pb-sm-2">
                    <div class="row justify-content-center">
                      <div class="col-lg-12">
                        <h2 class="text-center h3 pb-2">About this item</h2>
                        <p>
                          <%= prod.description %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  </main>


  <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content bg-faded-success border-success">
        <div class="modal-header bg-faded-success border-success">
          <h5 class="modal-title text-white" id="cartModalLabel">Success !</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center text-success">
          <i class="ci-check-circle d-block text-success text-shadow mb-3" style="font-size: 3rem;"></i>
          <h5 class="text-success text-shadow">Added to Cart</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="existModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content bg-faded-warning border-warning">
        <div class="modal-header bg-faded-warning border-warning">
          <h5 class="modal-title text-white" id="cartModalLabel">Alert !</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center text-warning">
          <i class="ci-security-announcement text-warning text-shadow mb-3" style="font-size: 3rem;"></i>
          <h5 class="text-warning text-shadow">Already in Cart</h5>
        </div>
      </div>
    </div>
  </div>





  <script>

    function addToCart(proId, button) {

      $.ajax({

        url: '/add-to-cart/' + proId,
        method: 'post',
        success: (response) => {

          if (response.added) {
            $('#cartModal').modal('show');
          }
          if (response.exists) {
            $('#existModal').modal('show');
          }

        }

      })

    }


    function addToWishlist(proId, button) {

      $.ajax({

        url: '/add-to-wishlist/' + proId,
        method: 'post',
        success: (response) => {

          if (response.added) {
            $(button).find('.ci-heart').removeClass('ci-heart').addClass('ci-heart-filled text-danger');
          }
          if (response.exists) {
            $(button).find('.ci-heart-filled').removeClass('ci-heart-filled text-danger').addClass('ci-heart');
          }

        }

      })

    }

  </script>





  <%- include('../user/layouts/userFooter.ejs')%>