<%- include('../user/layouts/userHeader.ejs')%>



<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="ci-home"></i>Home</a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/account">Account</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Profile Info</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 text-light mb-0">Profile Info</h1>
      </div>
    </div>
  </div>
  <div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
      <!-- Sidebar-->
      <aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
        <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
          <div class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
            <div class="d-md-flex align-items-center">
              <!-- <div class="img-thumbnail rounded-circle position-relative flex-shrink-0 mx-auto mb-2 mx-md-0 mb-md-0" style="width: 6.375rem;"><img class="rounded-circle" src="img/shop/account/avatar.jpg" alt="Susan Gardner"></div> -->
              <div class="ps-md-3">
                <h3 class="fs-base mb-0"><%= userdetials.name %></h3><span class="text-accent fs-sm"><%= userdetials.email %></span>
              </div>
            </div><a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="#account-menu" data-bs-toggle="collapse" aria-expanded="false"><i class="ci-menu me-2"></i>Account Menu</a>
          </div>
          <div class="d-lg-block collapse" id="account-menu">
            <div class="bg-secondary px-4 py-3">
              <h3 class="fs-sm mb-0 text-muted text-center">DASHBOARD</h3>
            </div>
            <ul class="list-unstyled mb-0">
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/order"><i class="ci-bag opacity-60 me-2"></i>Orders<span class="fs-sm text-muted ms-auto"></span></a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/wishlist"><i class="ci-heart opacity-60 me-2"></i>Wishlist<span class="fs-sm text-muted ms-auto"></span></a></li>
              <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/discount"><i class="ci-discount opacity-60 me-2"></i>Coupons<span class="fs-sm text-muted ms-auto"></span></a></li>
            </ul>
            <div class="bg-secondary px-4 py-3">
              <h3 class="fs-sm mb-0 text-muted text-center">ACCOUNT</h3>
            </div>
            <ul class="list-unstyled mb-0">
              <li class="border-bottom mb-0 bg-faded-accent"><a class="nav-link-style d-flex align-items-center px-4 py-3 active" href="/account"><i class="ci-user opacity-60 me-2"></i>Profile Info</a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/change-password"><i class="ci-loading opacity-60 me-2"></i>Change Password</a></li>
              <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/address"><i class="ci-location opacity-60 me-2"></i>Addresses</a></li>
              <li class="d-lg-none border-top mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/userlogout"><i class="ci-sign-out opacity-60 me-2"></i>SIGN OUT</a></li>
            </ul>
          </div>
        </div>
      </aside>

 <!-- Content  -->
 <section class="col-lg-8">
    <!-- Toolbar-->
    <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
      <h6 class="fs-base text-light mb-0">Update Your Profile Details Below :</h6>
        <a class="btn btn-danger btn-sm" href="/userlogout"><i class="ci-sign-out me-2"></i>SIGN OUT</a>
    </div>
    <div class="card border-0 bg-faded-info shadow-lg mb-3">
      <div class="card-body text-center">
        <i class="ci-wallet h3 mt-2 mb-2 text-accent"></i>
        <h3 class="h3 mb-2">WALLET</h3>
        <ul class="list-unstyled fs-sm mb-0">
          <li>
            <h3 class="h6 mb-1"><span class="text-muted">Balance : </span><span class="text-success">₹<%= userdetials.wallet %></span></h3>
            <h3 class="h6"></h3>
          </li>
        </ul>
      </div>
    </div>
    <!-- Profile form-->
    <form action="/update-profile" method="post">
      <div class="row gx-4 gy-3">
        <div class="col-sm-12">
          <label class="form-label" for="account-fn">Name</label>
          <input class="form-control" type="text" name="name" id="account-fn" value="<%= userdetials.name %>" required>
        </div>
        <div class="col-sm-6">
          <label class="form-label" for="account-email">Email Address</label>
          <input class="form-control" type="email" id="account-email" value="<%= userdetials.email%>" disabled>
        </div>
        <div class="col-sm-6">
          <label class="form-label" for="account-phone">Phone Number</label>
          <input class="form-control" type="text" name="phone" id="account-phone" value="<%= userdetials.phone %>  " required>
        </div>
        <div class="col-12">
          <hr class="mt-2 mb-3">
          <div class="d-flex flex-wrap justify-content-end align-items-center">
            <button class="btn btn-primary mt-3 mt-sm-0" type="submit"><i class="ci-check-circle me-2 ms-n21"></i>UPDATE PROFILE</button>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
</div>
</main>




<%- include('../user/layouts/userFooter.ejs')%>