<%- include('../user/layouts/userHeader.ejs')%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="ci-home"></i>Home</a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/account">Account</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">My Coupons</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 text-light mb-0">My Coupons</h1>
      </div>
    </div>
  </div>
  <div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
      <!-- Sidebar-->
      <aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
        <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
          <div class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
            <div class="d-md-flex align-items-center">
              <!-- <div class="img-thumbnail rounded-circle position-relative flex-shrink-0 mx-auto mb-2 mx-md-0 mb-md-0" style="width: 6.375rem;"><img class="rounded-circle" src="img/shop/account/avatar.jpg" alt="Susan Gardner"></div> -->
              <div class="ps-md-3">
                <h3 class="fs-base mb-0"><%= userDetail.name %></h3><span class="text-accent fs-sm"><%= userDetail.email %></span>
              </div>
            </div><a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="#account-menu" data-bs-toggle="collapse" aria-expanded="false"><i class="ci-menu me-2"></i>Account Menu</a>
          </div>
          <div class="d-lg-block collapse" id="account-menu">
            <div class="bg-secondary px-4 py-3">
              <h3 class="fs-sm mb-0 text-muted text-center">DASHBOARD</h3>
            </div>
            <ul class="list-unstyled mb-0">
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/order"><i class="ci-bag opacity-60 me-2"></i>Orders<span class="fs-sm text-muted ms-auto"></span></a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/wishlist"><i class="ci-heart opacity-60 me-2"></i>Wishlist<span class="fs-sm text-muted ms-auto"></span></a></li>
              <li class="mb-0 bg-faded-accent"><a class="nav-link-style d-flex align-items-center px-4 py-3 active" href="/discount"><i class="ci-discount opacity-60 me-2"></i>Coupons<span class="fs-sm text-muted ms-auto"></span></a></li>
            </ul>
            <div class="bg-secondary px-4 py-3">
              <h3 class="fs-sm mb-0 text-muted text-center">ACCOUNT</h3>
            </div>
            <ul class="list-unstyled mb-0">
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/account"><i class="ci-user opacity-60 me-2"></i>Profile Info</a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/change-password"><i class="ci-loading opacity-60 me-2"></i>Change Password</a></li>
              <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/address"><i class="ci-location opacity-60 me-2"></i>Addresses</a></li>
              <li class="d-lg-none border-top mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/userlogout"><i class="ci-sign-out opacity-60 me-2"></i>SIGN OUT</a></li>
            </ul>
          </div>
        </div>
      </aside>

<!-- Content  -->
<section class="col-lg-8">
    <!-- Toolbar-->
    <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
      <h6 class="fs-base text-light mb-0">List of Your Discount Coupons : </h6><a class="btn btn-danger btn-sm" href="/userlogout"><i class="ci-sign-out me-2"></i>SIGN OUT</a>
    </div>

<!-- Contacts card: Shadow -->
<div class="mt-3" style="overflow-x: auto; max-height: 440px;" data-simplebar>
<% coupon.forEach((cp,i)=> { %>
  <% if (JSON.stringify(usedCoupon).includes(cp.couponCode)){ %>
  <% if(cp.status == 'Expired') { %>
  <div class="card border-0 mb-3 bg-faded-danger shadow-lg">
    <div class="card-body">
      <div class="d-flex justify-content-between">
      <h4 class="fs-2 mb-0"><span><i class="ci-discount h4 text-primary me-2"></i></span><span id="content<%= i %>"><%= cp.couponCode %> </span><span class="fs-sm"></span></h4>
      <span class="text-muted me-1">Valid till <%= cp.expiryDate.toLocaleDateString() %></span>
    </div>
      <h3 class="h6 text-success mb-1">Flat ₹<%= cp.discountAmount %> off</h3>
      <div class="d-flex justify-content-between">
      <span>Get Extra ₹<%= cp.discountAmount %> off on Purchases Worth ₹<%= cp.minimumAmount %></span>
        <span class="badge rounded-pill bg-danger text-center pt-1 fs-sm badge-shadow" style="text-transform: uppercase;">REDEEMED</span>
    </div>
    </div>
  </div>
  <% } else { %>
    <div class="card border-0 mb-3 bg-faded-accent shadow-lg">
      <div class="card-body">
        <div class="d-flex justify-content-between">
        <h4 class="fs-2 mb-0"><span><i class="ci-discount h4 text-primary me-2"></i></span><span id="content<%= i %>"><%= cp.couponCode %></span></h4>
        <span class="text-muted me-1">Valid till <%= cp.expiryDate.toLocaleDateString() %></span>
      </div>
        <h3 class="h6 text-success mb-1">Flat ₹<%= cp.discountAmount %> off</h3>
        <div class="d-flex justify-content-between">
        <span>Get Extra ₹<%= cp.discountAmount %> off on Purchases Worth ₹<%= cp.minimumAmount %></span>
        <span class="badge rounded-pill bg-dark text-center pt-1 fs-sm badge-shadow" style="text-transform: uppercase;">REDEEMED</span>
      </div>
      </div>
    </div>
    <% } %>
    <% } else { %>
      <% if(cp.status == 'Expired') { %>
        <div class="card border-0 mb-3 bg-faded-accent shadow-lg">
          <div class="card-body">
            <div class="d-flex justify-content-between">
            <h4 class="fs-2 mb-0"><span><i class="ci-discount h4 text-primary me-2"></i></span><span id="content<%= i %>"><%= cp.couponCode %> </span><span class="fs-sm"></span></h4>
            <span class="text-muted me-1">Valid till <%= cp.expiryDate.toLocaleDateString() %></span>
          </div>
            <h3 class="h6 text-success mb-1">Flat ₹<%= cp.discountAmount %> off</h3>
            <div class="d-flex justify-content-between">
            <span>Get Extra ₹<%= cp.discountAmount %> off on Purchases Worth ₹<%= cp.minimumAmount %></span>
            <span class="badge rounded-pill bg-danger text-center pt-1 fs-sm badge-shadow" style="text-transform: uppercase;"><%= cp.status %></span>
          </div>
          </div>
        </div>
        <% } else { %>
          <div class="card border-0 mb-3 bg-faded-info shadow-lg">
            <div class="card-body">
              <div class="d-flex justify-content-between">
              <h4 class="fs-2 mb-0"><span><i class="ci-discount h4 text-primary me-2"></i></span><span id="content<%= i %>"><%= cp.couponCode %> </span><span class="fs-sm"><a class="nav-link-style text-accent" onclick="copyContent('content<%= i %>')" type="button"><div class="ci-copy"></div></a></span></h4>
              <span class="text-muted me-1">Valid till <%= cp.expiryDate.toLocaleDateString() %></span>
            </div>
              <h3 class="h6 text-success mb-1">Flat ₹<%= cp.discountAmount %> off</h3>
              <div class="d-flex justify-content-between">
              <span>Get Extra ₹<%= cp.discountAmount %> off on Purchases Worth ₹<%= cp.minimumAmount %></span>
              <span class="badge rounded-pill bg-success text-center pt-1 fs-sm badge-shadow" style="text-transform: uppercase;"><%= cp.status %></span>
            </div>
            </div>
          </div>
      <% } %>
      <% } %>
  <% }) %>
</div>
  <div class="modal fade" id="copyModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content bg-faded-success border-success">
        <div class="modal-header bg-faded-success border-success">
          <h5 class="modal-title text-success" id="cartModalLabel"><i class="ci-discount fs-base me-2"></i>Copied to Clipboard !</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>
</div>
</main>


<script>

  $(document).ready(function() {
    var table = $('#myTable');
    var rowsPerPage = $('#rows-per-page').val();
    var currentPage = 0;
    
    function showRows() {
      var rows = table.find('tbody tr');
      var numRows = rows.length;
      var numPages = Math.ceil(numRows / rowsPerPage);
      
      if (numPages == 0) {
        currentPage = 0;
      } else if (currentPage >= numPages) {
        currentPage = numPages - 1;
      }
      
      var startIndex = currentPage * rowsPerPage;
      var endIndex = Math.min(startIndex + rowsPerPage, numRows);
      
      rows.hide();
      rows.slice(startIndex, endIndex).show();
      
      $('#page-number').text('Page ' + (currentPage + 1) + ' of ' + numPages);
    }
    
    $('#next').click(function() {
      currentPage++;
      showRows();
    });
    
    $('#prev').click(function() {
      if(currentPage>=1){
      currentPage--;
      }
      showRows();
    });
    
    $('#rows-per-page').change(function() {
      rowsPerPage = $(this).val();
      currentPage = 0;
      showRows();
    });
    
    showRows();
  });
  
  
  </script>

<script>
  function copyContent(elementId) {
    var content = document.getElementById(elementId);
    var range = document.createRange();
    range.selectNode(content);
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(range);
    document.execCommand("copy");
    window.getSelection().removeAllRanges();
    $('#copyModal').modal('show');
  }
</script>


<%- include('../user/layouts/userFooter.ejs')%>